body{
    font-family: var(--font-principal);
    color: #333333;
    
}

main{ 
  padding: 2.5rem 0 2.5rem;
  max-width: 1360px;
  margin: 0 auto; /*só funciona para centralizar, se o elemnto tiver uma largura definidda.*/
}

.btn {
  font-size: 1.25rem;
  width: 161px;
  height: 48px;
  border-radius: 25px;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 20px;
  transition: background-color 0.5s, border 0.5s;
  }

.btn-outline {
  background-color: transparent; 
  border: 2px solid #ffffff; 
  font-weight: 500;
  
  /* Transforme em Flexbox Vertical */
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*Ajuste o espaçamento interno para empurrar o texto para cima */
  padding: 5px 0px 5px 0px; /* Diminuiu no topo (5px) e aumentou na base (15px) */
     
  line-height: 0.6em; /* Valor seguro para o texto não cortar */
}
