.hero-section {
  background: url("../../../../assets/images/banners/hero.jpg") no-repeat center;
  background-size: cover;
  height: 500px;
  border-radius: 20px;
  position: relative;
 }

.hero-overlay {
  width: 100%; /* faz a div.hero-overlay ocupar toda a largura do elemento pai (.hero-section).*/
  height: 100%; /*faz ela ocupar toda a altura do pai. No seu caso, .hero-section tem height: 500px, então a overlay também fica com 500px.*/
  display: flex; /*transforma a overlay em um container flexível.*/
  align-items: center;
  justify-content: flex-end;
  padding: 0 6rem; /*adiciona espaçamento horizontal para que o conteúdo não encoste na borda direita/esquerda.*/
}

/*Por que existe a hero-overlay?
O professor colocou essa div para controlar melhor a posição do conteúdo sobre o fundo do hero.

.hero-section é a seção que tem a imagem de fundo.
.hero-overlay é uma camada que fica por cima dessa imagem.
.hero-content fica dentro da overlay e, por isso, aparece sobre o fundo.
O que faz o texto aparecer sobre a imagem é a estrutura: a imagem está no background do pai (.hero-section), e o conteúdo está no filho (.hero-overlay / .hero-content);
a overlay tem tamanho total do pai e, portanto, coloca o conteúdo diretamente sobre a imagem de fundo.
Por que usar a overlay então?
Porque a hero-overlay separa:
a parte de layout/overlay da parte de conteúdo real*/

.hero-content {
  color: #ffffff;
  max-width: 360px;
  text-align: center;
}

.hero-buttons{
  display: flex;
  gap: 16px;
}                                                                                                    
.hero-content .hero-title {
  font-size: 1.875rem;
  margin-bottom: 40px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 8%;
}

.hero-content .hero-subtitle {
  font-size: 1.25rem;
  font-weight: 400;
}


.btn-filled {
  background-color: #ffffff;
  color: #6329a2;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  line-height: 23px; /*controla o espaçamento vertical entre as linhas de um parágrafo.*/
}

.btn:hover{
 background-color: #6329a2;
 color: #ffffff;
border-color: #6329a2;
}